body {
    background-color: #ffff;
    margin: 0 auto;
    box-sizing: border-box;
}
 li {
list-style-type: none;
 }
  .gallery {
    display: flex;
    margin: 0;    
   flex-wrap: wrap;
   padding: 24px;
    justify-content: center;
    gap: 24px;
  }
  .gallery-image {
    width: 360px;
    height: 200px;
  }